.navbar-brand{
    font-weight: 700;
    font-size: 30px;
    color: orange;
}
.nav-item{
    margin-left: 20px;
}
.nav-item img{
    height: 30px;
    width: 30px;
    border-radius: 50px;
}
.nav-link{
    font-weight: 700;
    color: tomato;
}
hr{
    width: 90%;
    margin-left: 5%;
}
.card-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}